DISCORD_TOKEN=
DISCORD_CLIENT_ID=
GUILD_ID=
ELITE_ROLE_ID=
ALERT_CHANNEL_ID=

SUPABASE_URL=
SUPABASE_SECRET_KEY=

HELIUS_API_KEY=
RECEIVING_WALLET=

ENTRY_FEE_USD=65
MONTHLY_FEE_USD=60
REFERRAL_PAYOUT_USD=10
